.Header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--margin);
  height: 80px;
  width: 100%;
  position: relative;
}

.backBtn {
  position: absolute;
  left: 0;
  display: flex;
  color: var(--light);
  background: none;
  padding: 8px 20px;
  border-radius: 4px;
  gap: 10px;
  cursor: pointer;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: "Muller Next Wide Trial ExtraBold", serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 750;
  line-height: normal;
  margin-top: var(--margin);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 1024px) {
  .title {
    font-size: 38px;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 26px;
    margin-top: calc(var(--margin)/2);
  }
}

@media (max-width: 540px) {
  .title {
    display: none;
  }
}