.Header {
  --firstColWidth: 100px;
  display: grid;
  grid-template-columns: var(--firstColWidth) 1fr;
  align-items: center;
  gap: var(--margin);
  height: 80px;
}

.backBtn {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-right: auto;
  color: var(--light);
  background: none;
  padding: 8px 20px;
  border-radius: 4px;
}

.title {
  display: flex;
  align-items: center;
  color: #FFF;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: "Muller Next Wide Trial ExtraBold", serif;
  font-size: 42.057px;
  font-style: normal;
  font-weight: 750;
  line-height: normal;
  margin-top: var(--margin);
  padding-right: calc(var(--firstColWidth) + var(--margin));
}
