.bg {
  min-height: 100dvh;
  background-image: url("../../../public/images/background.webp");
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1720px;
  margin: 0 auto;
  min-height: 100dvh;
  background-image: url("../../../public/images/chairs-bg-orange.webp");
  background-position: center 82dvh;
  background-repeat: no-repeat;
  padding-top: calc(var(--margin) * 4);
}

.backButton {
  position: absolute;
  left: 20px;
  display: flex;
  color: var(--white-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: initial;
  gap: 10px;
  margin-left: 0;
  max-width: 1720px;
  padding-top: calc(var(--margin) * 1.5);
}

.content {
  display: flex;
  flex-direction: column;
  justify-items: center;
  max-width: 1200px;
  width: 100%;
  margin-left: calc(var(--margin) * 4);
}

.title {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 1200px;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: "Muller Next Wide Trial ExtraBold", serif;
  font-size: 45px;
  font-style: normal;
  font-weight: 750;
  line-height: normal;
  text-align: start;
  color: var(--white-color);
  padding-right: calc(var(--firstColWidth) + var(--margin));
  padding-top: 10px;
}

.description {
  color: #FFF;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: "Muller", serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: var(--margin);
}

.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 34px 57px 34px 38px;
  margin: var(--margin) 0;
  border-radius: 14.772px;
  background: #1D1F23;
  gap: calc(var(--margin) * 4);
}

.date_title, .place_title {
  color: #FFD3AA;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: "Muller Next Wide Trial ExtraBold", serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 750;
  line-height: normal;
  max-width: 50dvw;
  user-select: none;
}

.date_value, .time_value {
  color: #FFF;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: "Muller Next Wide Trial ExtraBold", serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 750;
  line-height: normal;
  max-width: 50dvw;
  user-select: none;
}

.land {
  display: flex;
  align-items: flex-end;
  height: 80dvh;
  width: 100%;
}

@media (max-width: 1400px) {
  .wrapper {
    padding: calc(var(--margin) * 3) calc(var(--margin) * 2) 0;
    max-width: 100dvw;
  }

  .title {
    padding-top: calc(var(--margin) * 2);
  }

  .content {
    margin: 0;
  }

  .backButton {
    padding: 0 calc(var(--margin) * 2) 0;
    margin: 0;
    left: 0;
  }
}

@media (max-width: 1024px) {
  .date_title, .time_title {
    font-size: 14px;
  }

  .date_value, .time_value {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 34px
  }

  .description {
    font-size: 20px;
    margin-bottom: var(--margin);
  }

  .date_title, .place_title {
    font-size: 12px;
  }

  .date_value, .place_value {
    font-size: 18px;
  }
}

@media (max-width: 580px) {
  .land {
    height: 60dvh;
  }

  .title {
    font-size: 28px
  }

  .description {
    font-size: 16px;
  }
}

@media (max-width: 400px) {
  .info {
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    gap: var(--margin);
    padding: 24px 36px;
  }

  .date, .place {
    margin-right: auto;
  }
}