.InfoTable {
  display: grid;
  grid-template-columns: 205px 1fr;
  gap: calc(var(--margin) / 2) var(--margin);
  align-content: start;
  color: #000;
  text-align: left;
  font-family: "Muller Next Wide Trial ExtraBold", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 750;
  line-height: normal;
}

.InfoTablePopup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: calc(var(--margin) / 2) var(--margin);
  color: #000;
  text-align: left;
  font-family: "Muller Next Wide Trial ExtraBold", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 750;
  line-height: normal;
}

.label {
  display: none;
  color: var(--secondary);
  font-weight: 300;
}
